
:root{


    /* --fav-color: #537895;
    --header-background-color: #09203f; */
    --header-height: 10vh; 
    --header-font-size: var(--header-height)/2; 
    --fav-color: hsl(197, 100%, 78%);
    
    --header-background-color1: hsl(0, 0%, 7%, 100%);
    --header-background-color2: hsl(0, 0%, 7%, 0%);

    --header-background-color: hsl(0, 0%, 7%);
    --highlight-nav-item: #808080;
}
/* var (favcolor, rgb(141, 223, 255)); */

*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
    font-family: 'Noto Sans', sans-serif; 
    font-family: 'Poppins', sans-serif; 
    font-family: 'Tiro Gurmukhi', serif; 
    scroll-behavior:  smooth; 
}




::-webkit-scrollbar {
    /* border-radius: 10px; */
    height: 2px; 
    background-color: var(--header-background-color);
}
::-webkit-scrollbar-track {
    border-radius: 50%;
    background-color: var(--header-background-color);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--fav-color);
}



header{

    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    height: var(--header-height); 
    /* background-color: var(--header-background-color); */
    background-image: linear-gradient(180deg,  var(--header-background-color1), var(--header-background-color2));
    color: var(--fav-color); 
    position:fixed;
    top:0px; 
}

#logo{
    /* font-size: 5vw; */
    /* max-block-size: 20px; */
    font-size: calc(var(--header-height)/3.5);
    /* max-width: 30%; */
    
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav{
    /* position: fixed; */
    width: 40%;
    max-width: 350px; 
    /* background-color: red; */
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

nav ul{
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow:auto;

    list-style-type: none;
    font-size: 2.3vh;
}

.nav-item{
    padding: 10px; 
    color: var(--fav-color); 
    background-color: var(--header-background-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -1px 0px 0px var(--fav-color);


    transition: ease-out 0.2s;
}

nav ul li:hover{
    color: var(--header-background-color);
    /* background-color: var(--fav-color);  */
    /* box-shadow: inset 0px -1px 0px 0px var(--fav-color); */
    box-shadow: inset 0px -100px 0px 0px var(--fav-color) ;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 17px;
    
}

nav ul li:first-child{
    border-radius:10px 0px 0px 10px; 
}
nav ul li:last-child{
    border-radius:0px 10px 10px 0px; 
}



.nav-item-active {
    color: var(--header-background-color);
    background-color: var(--fav-color);
    border-radius: 5px 0px 0px 5px;
    border-bottom: none;
}

/* #nav-items{
    display: flex; 
    flex-direction: row;
    text-decoration: none;
    color: white;
} */



#mainpage{
    padding: 5px;
    padding-top: 0px;
    margin-top: 50px; 
    background-color: var(--header-background-color);
    /* background-image: linear-gradient(180deg, var(--header-background-color), var(--fav-color)); */
}

#sections{
    display: flex; 
    flex-direction: column;
    padding-top: var(--header-height); 
    /* width: 80%; */

    background-image: linear-gradient(180deg,  var(--fav-color), var(--header-background-color));
    /* background: -webkit-linear-gradient(var(--fav-color), var(--header-background-color)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  */
}

#sections .section:first-child{
    border-radius: 50px 50px 0px 0px;
    /* background-color: rgb(255, 255, 255); */
}
#sections .section:last-child{
    border-radius: 0px 0px 50px 50px;
    /* background-color: rgb(255, 255, 255); */
}



.section{
    /* margin: 30px; */
    background-color: rgb(94, 94, 94, 0.3);
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;


    /* border: 1px solid black; */
    /* color: calc(background-color - var*(--fav-color)); */
    /* background: -webkit-linear-gradient(#eee, #333); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}




.section:hover{
    background-color: rgb(94, 94, 94, 0.8);
}

.section h1{
    cursor: pointer;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}

.section hr{
    border: 1px solid var(--fav-color);
    width: 50%;
    margin-top: 15px; 
    margin-bottom: 20px;
}


.section p{
    font-size: 20px;
    text-indent: 50px;
}




.section_even{
    text-align: right;
}
.section_even hr{
    /* border: 1px solid black;  */
    width: 50%;
    margin-left: auto;
    /* position: relative; */
    /* float: right; */
}


.interbuttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 10vh;
    right: 3vw;

    height : 100px; 
    width : 40px;
    
}

.interbuttons button{
    border-radius: 50%;
    font-size: 20px; 
    background-color: var(--header-background-color);
    color: var(--fav-color);
    cursor: pointer;
    border: 1px solid white;


    height: 40px; 
    width: 40px;

    transition: 0.15s;
}

.interbuttons button:hover{
    font-size: 30px;
    height: 50px; 
    width: 50px;

}
#addsection{

}

#removesection{

}